.subscribe {
    background-color: #8D28AD;
}
.container.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 15px;
}
.newsletter {
 color: #fff;
 font-size: 2em;
 width: 13em;
 font-weight: 500;
 margin-bottom: 0.7em;
}
.input-sub {
   background-color: rgba(157,73,184,0.9);
   color:#fff;
   padding: 0.3rem 1rem;
   height: 4em;
   margin-right: 0.5em;
   border-radius:5px;
   width: 25em;
}
.input-sub::placeholder {
    color:#fff;
 }
.btn-sub {
    background-color: #fff;
    color: #8D28AD;
    border-radius: 5px;
    padding: 0.3em 1rem;
    height: 4em;
}
@media (max-width:768px) {
    .container.subscribe {
        flex-direction: column;
    }
}
@media (min-width:769px) and (max-width:1023px) {
    .container.subscribe {
        flex-direction: column;
    }
}