@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
input{
    border: none;
    outline: none;
}
.container{
    width: 100%;
    padding: 0 15px;
    max-width: 1300px;
    margin: 0 auto;
}
i{
    pointer-events: none;
}

.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80vw;
    margin: 1em auto;
}
.imgNotFound {
    width: 70%;
    margin-bottom: 1em;
}
.backToHome {
    color: #fff;
    background-color: #8D28AD;
    border: 1px solid #8D28AD;
    padding: 0.7em 1.5em;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 0.5em;
}


