.empty-books{
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}

.empty-books img{
    width: 100%;
    max-width: 550px;
    display: inline-block;
    margin-bottom: 2rem;
}

.empty-books .title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #8D28AD;
}